<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.PowerShell.Commands.Diagnostics" version="7.0.1" targetFramework="native" />
  <package id="Microsoft.PowerShell.Commands.Management" version="7.0.1" targetFramework="native" />
  <package id="Microsoft.PowerShell.Commands.Utility" version="7.0.1" targetFramework="native" />
  <package id="Microsoft.PowerShell.ConsoleHost" version="7.0.1" targetFramework="native" />
  <package id="Microsoft.PowerShell.MarkdownRender" version="7.0.1" targetFramework="native" />
  <package id="Microsoft.PowerShell.Security" version="7.0.1" targetFramework="native" />
  <package id="Microsoft.WSMan.Management" version="7.0.1" targetFramework="native" />
  <package id="Microsoft.WSMan.Runtime" version="7.0.1" targetFramework="native" />
</packages>